<div class="container py-4 flex items-center gap-3">
  <a href="/" class="text-primary text-base">
    <i class="fa-solid fa-house"></i>
  </a>
  <span class="text-sm text-gray-400">
    <i class="fa-solid fa-chevron-right"></i>
  </span>
  <p class="text-gray-600 font-medium">Account</p>
</div>

<!-- account wrapper -->
<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">
  <!-- sidebar -->
  <div class="col-span-3">
    <div class="px-4 py-3 shadow flex items-center gap-4">
      <div class="flex-shrink-0">
        <img
          src="<%= user.avatarUrl || '/assets/images/avatar.png' %>"
          alt="profile"
          class="rounded-full w-14 h-14 border border-gray-200 p-1 object-cover"
        />
      </div>
      <div class="flex-grow">
        <p class="text-gray-600">Hello,</p>
        <h4 class="text-gray-800 font-medium">
          <%= user.fullname || user.email %>
        </h4>
      </div>
    </div>

    <div
      class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600"
    >
      <div class="space-y-1 pl-8">
        <a
          href="/profile"
          class="relative text-primary block font-medium capitalize transition"
        >
          <span class="absolute -left-8 top-0 text-base">
            <i class="fa-regular fa-address-card"></i>
          </span>
          Manage account
        </a>
        <a
          href="/profile/information"
          class="relative hover:text-primary block capitalize transition"
        >
          Profile information
        </a>
        <a
          href="/profile/address"
          class="relative hover:text-primary block capitalize transition"
        >
          Manage addresses
        </a>
        <a
          href="/profile/changepassword"
          class="relative hover:text-primary block capitalize transition"
        >
          Change password
        </a>
      </div>

      <div class="space-y-1 pl-8 pt-4">
        <a
          href="/orders"
          class="relative hover:text-primary block font-medium capitalize transition"
        >
          <span class="absolute -left-8 top-0 text-base">
            <i class="fa-solid fa-box-archive"></i>
          </span>
          My order history
        </a>
        <a
          href="#"
          class="relative hover:text-primary block capitalize transition"
        >
          My reviews
        </a>
      </div>

      <div class="space-y-1 pl-8 pt-4">
        <a
          href="/users/logout"
          class="relative hover:text-primary block font-medium capitalize transition"
        >
          <span class="absolute -left-8 top-0 text-base">
            <i class="fa-solid fa-right-from-bracket"></i>
          </span>
          Logout
        </a>
      </div>
    </div>
  </div>

  <!-- info -->
  <div class="col-span-9">
    <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
      <h2 class="text-2xl uppercase font-medium mb-1">Profile</h2>

      <div class="space-y-2">
        <dl class="sm:divide-y sm:divide-gray-600">
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Full name</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <%= user.fullname || '(empty)' %>
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Email address</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <%= user.email || '(empty)' %>
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Phone number</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <%= user.phoneNumber || '(empty)' %>
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Last login</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <%= user.lastLogin %>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <!-- ./info -->
</div>
<!-- ./account wrapper -->
